.photo {
  width: auto;
  height: calc(100vh - 56px);
  overflow: hidden;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
  /* filter: grayscale(30%); */
  filter: brightness(90%);
}

.outer {
  padding-top: 56px;
  position: relative;
  width: auto;
  height: 100%;
  background-color: #f6f1ec;
  display: flex;
}

.bg-text {
  position: absolute;
  font-size: 10rem;
  font-weight: 700;
  font-family: 'Poppins';
  z-index: 0;
  white-space: nowrap;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  letter-spacing: 0;
  box-sizing: border-box;
  display: block;
  color: #2C2C2C;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
}

.content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  margin: 0;
}

.content p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: #2c2c2c;
}

.overlay-text {
  position: absolute;
  font-size: 10rem;
  font-weight: 700;
  font-family: 'Poppins';
  z-index: 10;
  white-space: nowrap;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  letter-spacing: 0;
  box-sizing: border-box;
  display: block;
}

.main-title {
  font-size: 10rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  white-space: nowrap;
  line-height: 1.2;
  letter-spacing: 0;
  color: transparent;
  -webkit-text-stroke: 2px #F6F1EC;
  box-sizing: border-box;
  display: block;
}

.bg-text,
.overlay-text,
.main-title {
  font-size: clamp(2rem, 15vw, 10rem);
  overflow-wrap: break-word;
  max-width: 100vw;
}


@media (max-width: 540px) {
  .photo {
    height: calc(100vh - 56px - 56px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .photo img {
    max-width: 100%;
    height: auto;
  }

  .aboutMe p {
    font-size: 13px;
    max-width: 100%;
    padding: 0 10px;
  }

  .outer {
    height: calc(100vh - 140px);
    align-items: flex-end; 
  }
}
