@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px; /* Default font size */
  }
  
  body {
    font-size: 1rem; /* Use rem for better scaling */
    font-family: 'Poppins', sans-serif;
  }
}
